@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

canvas{
    max-width: calc(100vw - 10px);
    max-height: 100vh;

    display: block;
    position: fixed;
    top: 0;
    z-index: -9999;
    filter: brightness(0.7) blur(6px);
}

.tool-name{
    padding: 3px 12px;
    border-radius: 15px;
    margin: 3px 5px;
    font-size: 13px;
}

.a-Block{
    border-radius: 5px;
    padding: 20px;
}

.a-Block:hover{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.20);
}


::-webkit-scrollbar {
    width: 10px;
    }
    

    ::-webkit-scrollbar-track {
    background: transparent;
    }
    

    ::-webkit-scrollbar-thumb {
    background: #1C4661;
    
    
    } 
    ::-webkit-scrollbar-thumb:hover {
    background: #54d2d479;
    }

.mobile_full_h{
    height: 100dvb;
}